/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: white;
  color: #004838;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  height: 60px;
}

.navbar-brand {
  color: #004838 !important;
}

@media (max-width: 455px) {
  .nav-link {
    line-height: 0.7rem;
    font-size: 10px !important;
    font-weight: 500;
  }
  .nav-btn {
    font-size: 5px !important;
  }
  .nav-img {
    height: 15px !important;
  }
  nav {
    height: 40px;
    margin-top: 0px !important;
  }
  .navbar-brand {
    font-family: "inter";
    font-size: 12px !important;
    font-weight: 600;
  }
}
#nav-tabs {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #004838 !important;
  /* font-size: 14rem; */
  font-family: sans-serif;
  line-height: 1rem;
  font-weight: 500;
}

.nav-link.acitve {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.banner-btn {
  padding: 4px 8px !important;
  border-radius: 24p !important;
}

h1 {
  font-size: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (min-width: 555px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 425px) and (max-width: 555px) {
  p {
    font-size: 14.5px;
  }
  button .btn {
    font-size: 14.5px !important;
  }
}

/* @media (max-width: 424px) {
  h1 {
    font-size: 24px !important;
  }
  p {
    font-size: 13px !important;
  }
  button .btn {
    font-size: 13px !important;
  }
} */

p {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content-1 {
  margin-bottom: 1vh;
  margin-top: 1vh;
  /* font-weight: 600; */
}

@media (min-width: 768px) {
  .content-1 h1 {
    font-size: 58px !important;
  }
}

@media (max-width: 500px) {
  .content-1 h1 {
    /* line-height: 0.5 !important; */
  }
}
.content-1 p {
  font-family: "inter", sans-serif;
}

.content-2 {
  padding-top: 4vh !important;
  background: linear-gradient(180deg, #004838, #000000);
}
.content2-text {
  padding-left: 7%;
}

.content3-text {
  padding-left: 10%;
}

.rating-image {
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
}

.rating-image img {
  height: auto;
  width: 90%;
  max-height: 60px;
  max-width: 490px;
}

/* .home-image img {
  margin-top: 17vh;
  height: auto;
  width: 90%;
  max-width: fit-content;
  margin-left: 4rem;
  /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); */
/* } */ 

.home-image img {
  margin-top: 16vh;
  height: auto;
  width: 90%;
  max-width: fit-content;
  margin-left: 4rem;
  transform: translateY(100px); /* Image starts lower */
  opacity: 0; /* Hidden initially */
  transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
}

.home-image img.visible {
  transform: translateY(0); /* Image moves to its normal position */
  opacity: 1; /* Fully visible */
}

.star-rating {
  display: flex;
  gap: 5px;
  
}

.star {
  font-size: 3rem;
  color: #004838; /* Set the star color to green */
}




.bento-card {
  transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth scaling and shadow */
}

.bento-card:hover {
  transform: scale(1.05); /* Slightly zoom the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}



@media (min-width: 768px) {
  .home-image img,
  .content2-image img,
  .content3-img img {
    max-width: 87%;
  }
}

.content-2 {
  background-color: #004838;
}

.content3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

@media (max-width: 768px) {
  .content3-images {
    height: 45px !important;
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .content-3images img {
    height: 100px !important;
    max-width: 90%;
  }
  .banner-btn {
    padding: 16px 24px !important;
    border-radius: 12px !important;
  }
  .fontimg {
    padding-bottom: 3.4rem !important;
  }
}
.content-1 {
  margin-top: 17vh;
}

@media (max-width: 450px) {
  .you-img {
    height: 15px !important;
  }
  .fontimg {
    height: 23px;
    padding-bottom: 10px;
  }
  .rating-image img {
    height: 24px !important;
    width: auto;
  }
  .home-image img {
    margin-top: 4vh;
  }
  .banner-btn span {
    font-size: 10px !important;
    /* padding: 4px 4px !important; */
  }
  .banner-btn img {
    height: 12px !important;
    margin-right: 2px !important;
  }
  .content-1 a {
    font-size: 8px;
  }
  .content1-blog {
    padding-top: 0vh;
  }
  h1 {
    font-size: 15px !important;
  }
  p {
    font-size: 8px !important;
  }
  .btn {
    font-size: 8px !important;
    margin: 0px 0px !important;
    padding: 5px 5px !important;
  }
  .content2-image img,
  .content3-img img {
    max-width: 87%;
  }
  .content-1 {
    margin-top: 8vh !important;
  }
}

.content-3-images {
  height: 100px !important;
  max-width: 90%;
}

.content2-image img,
.content3-img img {
  height: auto;
  width: 100%;
}

.content-2,
.content-3 .content-4,
.content-5 {
  margin-bottom: 3vh !important;
}

.footer-image {
  background-image: url(/Images/m6-img.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 50%;
}

.content2-image {
  position: relative;
}

.overlay-text2 {
  position: absolute;
  top: -10%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(15deg);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

.arrow-1 {
  position: absolute;
  /* background-color: red; */
  top: 300%;
  left: 35%;
  transform: translate(-65%, -45%);
  width: 200px;
}

.card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-15px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.arrow-2 {
  position: absolute;
  top: 300%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 200px;
}

@media (max-width: 768px) {
  .overlay-text2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .overlay-text2 {
    font-size: 1rem;
  }
}

.content3-img {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: -15%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-20deg);
  color: #18ab56;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

@media (max-width: 768px) {
  .overlay-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 1rem;
  }
}

.main-4 {
  height: 81vh;
  width: 100%;
  background: url("/Images/main-4-bg\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.m4-main-img {
  height: 12vh;
  max-width: 81%;
}

.m4-input {
  height: 3.981rem;
  padding: 40px 9px;
  background: linear-gradient(
    180deg,
    rgba(0, 187, 255, 0.1) 0%,
    rgba(196, 77, 255, 0.1) 100%
  );
  box-shadow: 0px 14.4913px 28.9826px rgba(0, 0, 0, 0.15);
  border-radius: 26.0844px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m4-content {
  max-width: 100%;
  height: 4.076rem;
  min-width: 08px !important;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    #ffffff 100%
  );
  box-shadow: 0px 0.724566px 2.89826px rgba(0, 0, 0, 0.05);
  border-radius: 18.8387px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.m4-content-img {
  height: 37px;
  width: auto;
  margin-right: 5px;
}

.m4-content input {
  border: none;
  outline: none;
  background: transparent;
  max-width: 100%;
  width: 120px;
  height: auto;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4913px !important;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .m4-content input {
    width: 342px;
  }
}

@media (max-width: 579px) {
  .get-btn {
    font-size: 12px !important;
  }
  .m4-content input {
    font-size: 12px !important;
    width: 100px;
  }
  .m4-content-img {
    height: 30px;
  }
  .m4-content {
    height: 45px;
  }
  .m4-input {
    height: 45px;
  }
  .m4-btn img {
    height: auto !important;
    width: 20px !important;
  }
  .m4-btn {
    width: 110px !important;
    height: 30px !important;
  }
  .m4-content {
    min-width: 266px !important;
  }
  .m4-main-img {
    max-width: 90%;
    margin-bottom: 0px !important;
  }
}

.m4-btn img {
  height: 1.359rem;
  width: 1.359rem;
}

.m4-btn {
  width: 9rem;
  height: 2.264rem;
  background: #004838;
  box-shadow: 0px 0.523586px 0.523586px -0.905707px rgba(0, 0, 0, 0.18),
    0px 1.98983px 1.98983px -1.81141px rgba(0, 0, 0, 0.16),
    0px 8.69479px 8.69479px -2.71712px rgba(0, 0, 0, 0.063);
  border-radius: 10.1439px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border: none;
  padding-right: 5px;
}

.m4-btn p {
  margin-top: 14px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13.4913px;
  /* line-height: 20px; */
  letter-spacing: -0.0724566px;
  color: #ffffff;
}

.content5-image {
  height: auto;
  max-width: 90%;
}

.main-6 {
  width: 100%;
  background: linear-gradient(180deg, #004838, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.m6-content {
  max-width: 95%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.m6-heading {
  height: 95%;
}

.m6-heading-img {
  height: 7.25rem;
  width: 90%;
}

.m6-btn a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #edeef0;
  text-decoration: none;
}

@media (max-width: 450px) {
  .m6-btn a {
    font-size: 8px !important;
  }
  .m6-content span {
    font-size: 20px !important;
  }
  .m6-btn {
    margin: 0xp !important;
  }
  .m6-content h1 {
    font-size: 12px !important;
  }
}

.m6-img {
  width: 50%;
  max-width: 100%;
  height: auto;
}

footer {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}

.footer-a {
  margin-top: 0.5rem;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13.6px;
  line-height: 19px;
  color: #e2fb6c;
  text-decoration: none;
}

@media (max-width: 455px) {
  .footer-a {
    height: auto;
    font-size: 9px;
  }
  .footer a img {
    height: 40px;
  }
  .footer-img img {
    height: 40px !important;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 10rem;
}

.image-container-1 {
  position: relative;
  display: inline-block;
  margin-top: 10rem;
}

.m2-main-img-1 {
  width: 100%;
  height: auto;
}
