/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: white;
  color: #004838;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  height: 60px;
}

.navbar-brand {
  color: #004838 !important;
}

@media (max-width: 455px) {
  .nav-link {
    line-height: 0.7rem;
    font-size: 10px !important;
    font-weight: 500;
  }
  .nav-btn {
    font-size: 5px !important;
  }
  .nav-img {
    height: 15px !important;
  }
  nav {
    height: 40px;
    margin-top: 0px !important;
  }
  .navbar-brand {
    font-family: "inter";
    font-size: 12px !important;
    font-weight: 600;
  }
}
#nav-tabs {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #004838 !important;
  /* font-size: 14rem; */
  font-family: sans-serif;
  line-height: 1rem;
  font-weight: 500;
}

.nav-link.acitve {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.banner-btn {
  padding: 4px 8px !important;
  border-radius: 24p !important;
}

h1 {
  font-size: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (min-width: 555px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 425px) and (max-width: 555px) {
  p {
    font-size: 14.5px;
  }
  button .btn {
    font-size: 14.5px !important;
  }
}

/* @media (max-width: 424px) {
  h1 {
    font-size: 24px !important;
  }
  p {
    font-size: 13px !important;
  }
  button .btn {
    font-size: 13px !important;
  }
} */

p {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content-1 {
  margin-bottom: 1vh;
  margin-top: 1vh;
  /* font-weight: 600; */
}

@media (min-width: 768px) {
  .content-1 h1 {
    font-size: 58px !important;
  }
}

@media (max-width: 500px) {
  .content-1 h1 {
    /* line-height: 0.5 !important; */
  }
  .content-2 h1,
  .content-3 h1 {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1 !important;
    margin-top: 1rem !important;
  }
  .content-2 p {
    margin: 0px !important;
  }
  .content-3 img {
    margin-bottom: 0px !important;
  }
  .content-3 button {
    margin-bottom: 2.5rem !important;
  }
  .content3-text {
    margin-top: 0px !important;
    margin-left: 0% !important;
  }
}
.content-1 p {
  font-family: "inter", sans-serif;
}

.content-2 {
  padding-top: 4vh !important;
  background: linear-gradient(180deg, #004838, #000000);
}
.content2-text {
  padding-left: 7%;
}

.content3-text {
  padding-left: 7%;
}

.rating-image {
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
}

.rating-image img {
  height: auto;
  width: 80%;
  max-height: 60px;
  max-width: 490px;
}
/* @media (max-width : 450px) {
  .home-image img{
  transform: none;
  transition: none;
  opacity: 1;
  }
  .home-image img.visible {
    transform: none; /* Image moves to its normal position */
    /* opacity: 1;  */
  /* }
} */ 

@media (min-width:650px) {

  .home-image img {
    margin-top: 16vh;
    height: auto;
    width: 90%;
    max-width: fit-content;
    /* margin-left: 4rem; */
    transform: translateY(100px); /* Image starts lower */
    opacity: 0; /* Hidden initially */
    transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
  }
  
  .home-image img.visible {
    transform: translateY(0); /* Image moves to its normal position */
    opacity: 1; /* Fully visible */
  }
  
  .bento-card {
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
}
  



  .home-image img {
    margin-top: 16vh;
    height: auto;
    width: 90%;
    max-width: fit-content;
  }

/* @media (max-width: 450px) {
  .home-image img {
    transition: none;
    transform: none;
  }
  .home-image img.visible {
    transform: none;
    opacity: 1;
  }

  .bento-card {
    transition: none;
  }
} */

.bento-card:hover {
  transform: scale(1.05); /* Slightly zoom the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

@media (min-width: 768px) {
  .home-image img,
  .content2-image img,
  .content3-img img {
    max-width: 87%;
  }
/*   
    .home-image img{
      transition: none;
      opacity: 1;
      transform: none;
    }
    .home-image .img-vissible{
      transform: none;
      opacity: 1;
    } */
  
}

.content-2 {
  background-color: #004838;
}

.content3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

@media (max-width: 760px) {
  .col-3 {
    margin-top: 17px;
  }
  .content3-images {
    height: 45px !important;
    max-width: 90%;
  }
}

@media (min-width: 759px) {
  .content-3images img {
    height: 100px !important;
    max-width: 90%;
  }
  .col-3 {
    margin-top: 13%;
  }
  .banner-btn {
    padding: 16px 24px !important;
    border-radius: 12px !important;
  }
  .fontimg {
    padding-bottom: 3.4rem !important;
  }
}

.content-1 {
  margin-top: 17vh;
}

/* Popup common styles */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.p0 {
  font-style: italic;
  color: #004838;
  font-weight: 500;
  font-family: 'Libre Caslon Text', serif;
  border-radius: 12px;
  background-color: rgba(0, 72, 56, 0.25);
  padding: 5px 10px;
  position: relative;
}

/* @media (max-width: 450px) {
  span.hiring-text {
    /* border: 2px dashed #004838 !important; */
    /* padding: 3px 8px !important; */
    /* border-radius: 1px !important; */




@media (max-width: 450px) {
  .popup {
    padding: 1px 4px;
  }

  .hiring-text{
    /* border: 2px solid black !important;  */
     /* border-radius: 5px !important;  */
     border-top-left-radius:5px !important ;
     border-bottom-left-radius:5px !important ;

  }
  .hiring-text {
    border: #004838 !important; /* Force override */
    padding: 1px 4px !important;
    border-radius: 7px !important;
  }
  .icon {
    height: 20px !important;
    width: 20px !important;
  }
  .popup-icon-img {
    height: 20px !important;
    width: 20px !important;
  }
  .close-icon {
    font-size: 13px !important;
    margin-left: 5px !important;
  }
}

.popup-icon-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

/* Icon styling */
.icon {
  border-radius: 50%; /* Fully rounded */
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(235, 87, 87, 0.1); /* Light red background */
  box-shadow: 0 2px 4px rgba(144, 238, 144, 0.2); /* Light red shadow */
}

.icon svg {
  width: 16px;
  height: 16px;
  fill: #eb5757; /* Red color for the cross */
}

/* Close icon styling */
.close-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

#main-4-input {
  color: black; /* Set text color to black */
}

.popup .close-icon {
  color: green; /* Set the color to green */
}

/* Error Popup Styles */
.error-popup {
  background-color: #ffffff;
  color: #28292a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Success Popup Styles */
.success-popup {
  background-color: #ffffff;
  color: #28292a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 8px 30px;
}

/* Popup text styles */
.popup-text {
  margin: 10px;
  font-size: 16px;
}

.star-rating {
  display: flex;
  justify-content: center;
}

.rating-Box {
  height: 70px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rating-pictures {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.ratingpic1 {
  background-image: url(/Images/IMG-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}
.ratingpic2 {
  background-image: url(/Images/IMG-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 50px;
}
.ratingpic3 {
  background-image: url(/Images/IMG-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 100px;
}
.ratingpic4 {
  background-image: url(/Images/IMG-4.jpg);
  background-size: cover;
  background-position: ;
  background-repeat: no-repeat;
  left: 150px;
}
.ratingpic5 {
  background-image: url(/Images/IMG-5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 200px;
}

.starBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.star-svg {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .star-rating {
    justify-content: start;
    margin-left: 12px;
  }
  .rating-Box {
    height: 20px;
    width: 80px;
  }
  .rating-pictures {
    height: 20px;
    width: 20px;
    border: 0.1px solid white;
  }
  .ratingpic1 {
    left: 0;
  }
  .ratingpic2 {
    left: 16px;
  }
  .ratingpic3 {
    left: 32px;
  }
  .ratingpic4 {
    left: 48px;
  }
  .ratingpic5 {
    left: 64px;
  }
  .star-svg {
    height: 6px;
    width: 6px;
    margin-right: 0.2px !important;
  }
  .rating-text {
    font-size: 6px;
    display: inline-block;
    text-align: start;
    width: 84px;
    margin: 3px 0px 0px 12px !important;
  }
  .flag {
    right: -21px !important;
  }
  .text-for {
    margin-left: 0 !important;
  }
}

.content-1 .banner-btn {
  margin-bottom: 35px !important;
}

@media (max-width: 450px) {
  .you-img {
    height: 21px !important;
    margin-top: 0.1rem;
    /* margin-left: 10px !important; */
  }
  .fontimg {
    height: 23px !important;
    padding-bottom: 10px !important;
  }
  .rating-image img {
    height: 24px !important;
    width: auto !important;
  }
  .home-image img {
    margin-top: 4vh !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  .banner-btn span {
    font-size: 8px;
    /* padding: 4px 4px !important; */
  }
  .banner-btn img {
    height: 12px !important;
    margin-right: 2px !important;
  }
  .content-1 .banner-btn {
    margin-bottom: 10px !important;
  }
  .content-1 a {
    font-size: 8px !important;
  }
  .content1-blog {
    padding-top: 0vh !important;
  }
  h1 {
    font-size: 17px !important;
  }
  p {
    font-size: 8px !important;
    line-height: 1 !important;
    margin: 8px 0px !important;
  }

  .btn {
    font-size: 8px !important;
    margin: 0px 0px !important;
    padding: 5px 5px !important;
  }
  .content2-image img,
  .content3-img img {
    max-width: 87% !important;
  }
  .content-1 {
    margin-top: 8vh !important;
  }
  .star-img {
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
  }
}

.content-3-images {
  height: 100px !important;
  max-width: 90%;
}

.content2-image img,
.content3-img img {
  height: auto;
  width: 100%;
}

.content-2,
.content-3 .content-4,
.content-5 {
  margin-bottom: 3vh !important;
}

.footer-image {
  background-image: url(/Images/m6-img.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 50%;
}

.content2-image {
  position: relative;
}

.overlay-text2 {
  position: absolute;
  top: -10%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(15deg);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

.arrow-1 {
  position: absolute;
  /* background-color: red; */
  top: 300%;
  left: 35%;
  transform: translate(-65%, -45%);
  width: 200px;
}

.card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.arrow-2 {
  position: absolute;
  top: 300%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 200px;
}

@media (max-width: 768px) {
  .overlay-text2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .overlay-text2 {
    font-size: 1rem;
  }
}

.content3-img {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: -15%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-20deg);
  color: #18ab56;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

@media (max-width: 768px) {
  .overlay-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 1rem;
  }
}

@media (min-width: 700px) and (max-wdith: 1030px) {
  .main-4 {
    height: 51vh !important;
  }

  .content-2 h1 {
    font-size: 38px;
  }
}

.main-4 {
  height: 67vh;
  width: 100%;
  background: url(/Images/greenbag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

@media (width: 912px) {
  .main-4 {
    height: 33vh;
  }
  .m4-main-img {
    margin-top: 9vh;
  }
  .home-image img {
    margin-top: 7vh;
  }
  .content-1 {
    margin-top: 10vh;
  }
  .main-6 h1 {
    font-size: 37px !important;
  }
  .content-3 h1 {
    font-size: 35px !important;
  }
  .content-3 p {
    margin-top: 0.6rem !important;
  }
}

@media (width: 344px) {
  .main-4 {
    height: 24vh !important;
  }
  .m4-main-img {
    height: 4vh !important;
  }
}

@media (width: 1080px) {
  .content-1 {
    margin-top: 7vh !important;
  }
  .home-image img {
    margin-top: 4vh !important;
  }
  .main-4 {
    height: 30vh;
  }
  .m4-main-img {
    height: 6vh !important;
  }
  .content-3 h1{
    font-size: 40px !important;
  }
  .main-6 h1{
    font-size: 44px !important;
  }
}

@media (width: 820px) {
  .main-4 {
    height: 39vh;
  }
  .m4-main-img {
    height: 8vh;
  }
  .content-2 h1 {
    font-size: 40px !important;
  }
  .content-3 h1 {
    font-size: 31px !important;
  }
  .main-6 h1 {
    font-size: 33px !important;
  }
  .home-image img {
    margin-top: 7vh !important;
  }
}

@media (width: 1024px) {
  .main-4 {
    height: 41vh;
  }
  .m4-main-img {
    height: 9vh;
  }
  .content-3 h1 {
    font-size: 39px !important;
  }
  .home-image img {
    margin-top: 7vh;
  }
  .main-6 h1 {
    font-size: 42px !important;
  }
  .content-1 {
    margin-top: 10vh !important;
  }
}

@media (width: 768px) {
  .content-1 {
    margin-top: 12vh;
  }
  .home-image img {
    margin-top: 7vh;
  }
  .content-2 h1 {
    font-size: 39px !important;
  }
  .content-3 h1 {
    font-size: 29px !important;
    line-height: 1.3 !important;
  }
  .content-3 p {
    font-size: 17px !important;
    margin-top: 0.6rem !important;
  }
  .main-6 h1 {
    font-size: 31px !important;
  }
}

.m4-main-img {
  height: 11vh;
  max-width: 81%;
}

.m4-input {
  height: 3.981rem;
  padding: 40px 4px;
  background: linear-gradient(
    180deg,
    rgba(0, 187, 255, 0.1) 0%,
    rgba(196, 77, 255, 0.1) 100%
  );
  box-shadow: 0px 14.4913px 28.9826px rgba(0, 0, 0, 0.15);
  border-radius: 22.0844px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m4-content {
  max-width: 100%;
  height: 4.076rem;
  min-width: 08px !important;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    #ffffff 100%
  );
  box-shadow: 0px 0.724566px 2.89826px rgba(0, 0, 0, 0.05);
  border-radius: 17.8387px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.m4-content-img {
  height: 37px;
  width: auto;
  margin-right: 5px;
}

.m4-content input {
  border: none;
  outline: none;
  background: transparent;
  max-width: 100%;
  width: 120px;
  height: auto;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4913px !important;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .m4-content input {
    width: 342px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main-4 {
    height: 47vh;
  }
}

@media (max-width: 579px) {
  .main-4 {
    height: 33vh;
  }

  .p0{
    border-radius: 1px !important;
  }

  .get-btn {
    font-size: 12px !important;
  }
  .m4-content input {
    font-size: 8px !important;
    max-width: 99px !important;
  }
  .m4-content-img {
    height: 19px;
  }
  .m4-content {
    height: 33px;
  }
  .m4-input {
    height: 33px;
    padding: 20px 3px !important;
  }
  .m4-btn img {
    height: auto !important;
    width: 13px !important;
  }
  .m4-btn {
    width: 89px !important;
    height: 22px !important;
  }
  .m4-content {
    min-width: 218px !important;
  }
  .m4-main-img {
    /* max-width: 87%; */
    height: 5vh;
    max-width: 89%;
    margin-bottom: 0px !important;
  }
}

.m4-btn img {
  height: 1.359rem;
  width: 1.359rem;
}

.m4-btn {
  width: 9rem;
  height: 2.264rem;
  background: #004838;
  box-shadow: 0px 0.523586px 0.523586px -0.905707px rgba(0, 0, 0, 0.18),
    0px 1.98983px 1.98983px -1.81141px rgba(0, 0, 0, 0.16),
    0px 8.69479px 8.69479px -2.71712px rgba(0, 0, 0, 0.063);
  border-radius: 6.1439px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border: none;
  padding-right: 5px;
}

.m4-btn p {
  margin-top: 14px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13.4913px;
  /* line-height: 20px; */
  letter-spacing: -0.0724566px;
  color: #ffffff;
}

.content5-image {
  height: auto;
  max-width: 90%;
}

@media (max-width: 450px) {
  .card {
    border-radius: 8px !important ;
    width: 46% !important;
    height: auto !important;
    padding: 10px 4px 4px 4px !important;
  }

  .card h1 {
    font-size: 6px !important;
    margin-bottom: 1.5px !important;
  }

  .card p {
    font-size: 5px !important;
    margin: 3.5px 0px !important;
    font-weight: 100 !important;
  }

  .card button {
    bottom: 10px;
    right: 10px;
    padding: 4px 6px;
  }

  .card img {
    width: 100% !important;
    margin: 16px 3px 1px auto !important;
    display: block;
    height: auto;
  }

  .card:nth-child(3),
  .card:nth-child(4),
  .card:nth-child(5) {
    width: 100%;
  }

  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card1,
  .card2 {
    width: 45% !important;
  }
  .card3,
  .card4,
  .card5 {
    width: 29% !important;
  }

  .card1 img {
    width: 96%;
    margin-left: 12px !important;
  }

  .card2 img {
    width: 100% !important;
  }

  /* .card4 img {
    margin-bottom: -18px !important;
  } */
  .card1 button img {
    width: 0% !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }

  .card1 button {
    padding: 0px 2px !important;
    font-size: 6px !important;
    bottom: 3.2rem !important;
    right: 1px !important;
  }
  .cardBox {
    gap: 8px !important;
  }
}

.card {
  border-radius: 20px;
  border: 1px solid #d3d5d8;
  background: linear-gradient(180deg, #f3fff3 0%, #00775d 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.card h1 {
  color: #041527;
  font-weight: 700;
  margin: 0;
}

.card p {
  color: #041527;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.card1,
.card2 {
  width: 48%;
  height: 400px;
}

.card3,
.card4,
.card5 {
  width: 30%;
  height: 408px;
}

.card1 button {
  position: absolute !important;
  bottom: 12.2rem;
  right: 15px;
  background-color: #004838;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 760px) and (max-width: 1200px) {
  .container {
    flex-direction: row !important;
  }

  .card1,
  .card2 {
    width: 48% !important;
  }

  .card3,
  .card4,
  .card5 {
    width: 30% !important;
    margin-top: 17px !important;
    height: 360px !important;
  }
  .card h1 {
    font-size: 20px !important;
  }
  .card img {
    max-width: 100% !important;
    height: auto !important;
    margin-top: 3.1rem !important;
    margin-left: 2rem !important;
    border-top-left-radius: 12px !important;
  }

  .card3 img {
    margin-top: 2.1rem !important;
  }

  .card1 button img {
    height: 20px;
    width: 20px;
    margin: 0px !important;
    padding: 2px 3px !important;
  }
  .card1 button {
    font-size: 11px;
    bottom: 10.5rem;
  }
}

.main-6 {
  width: 100%;
  background: linear-gradient(180deg, #004838, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.m6-content {
  max-width: 95%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.m6-heading {
  height: 95%;
}

.m6-heading-img {
  height: 7.25rem;
  width: 90%;
}

.m6-btn a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #edeef0;
  text-decoration: none;
}

@media (max-width: 450px) {
  .m6-btn a {
    font-size: 8px !important;
  }
  .m6-content span {
    font-size: 20px !important;
  }
  .m6-btn {
    margin-top: 0.5rem !important;
    margin-left: 1rem !important;
  }
  .m6-content h1 {
    font-size: 12px !important;
  }
}

.m6-img {
  width: 50%;
  max-width: 100%;
  height: auto;
}

footer {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}

.footer-a {
  margin-top: 0.5rem;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13.6px;
  line-height: 19px;
  color: #e2fb6c;
  text-decoration: none;
}

@media (max-width: 455px) {
  .footer-a {
    height: auto;
    font-size: 8px;
  }
  .footer a img {
    height: 40px;
  }
  .footer-img img {
    height: 30px !important;
  }
  .footer {
    gap: 0.7rem !important;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 10rem;
}

.image-container-1 {
  position: relative;
  display: inline-block;
  margin-top: 10rem;
}

.m2-main-img-1 {
  width: 100%;
  height: auto;
}
